html,body{
    width: 100%;
    height: 100%;
     

     background-image: url('red.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
    
}

#main{
    
     display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color:#C7B7A3 ;
}





#albumcover img{
   
    width: 360px;
    height: 370px;
    object-fit: cover;
   margin-left: 550px;
   margin-top: -335px;
    border-radius: 8px;
    shadow

}

#title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #050505;
    margin-top: -300px;
    margin-left: 250px;
    font-size: 20px;
    letter-spacing: 1px;

}

h1{
    font-size: 15px;
  margin-top: -12px;
   margin-left: 0.2px;
     letter-spacing: 1px;
     color: rgb(55, 47, 47);
   

    
}



#playerwrapper{
    width: 800px;
    height:300px;
    background-color: rgb(162, 19, 19);
    display: flex;
    gap: 35px;
   
    flex-direction: column;
    justify-content: center;
   align-items: center;
   margin-left: 450px;
   margin-top: 300px;
   border-radius: 10px;

}

#playerwrapper button{
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin-left: -700px;
}
  

#control button{
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
   
      
  margin-top: 25%;
  
 margin-left:80px;
   
    font-size: 40px;
    color: #050505;
}

#control button:hover{
    color: rgb(136, 15, 15);
    transform: scale(1.2);
    transition: all 0.3s ease;
}

#control{

position: absolute;
bottom:250px;
right:450px;

    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


#albumcover img{
    transition: transform 0.5s ease;
    box-shadow: 0.25s ease;
   
}


#albumcover img:hover{
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 20px 100px rgba(0, 0, 0, 0.5);

}

#title h1:hover{
    color: rgb(136, 15, 15);
    transform: scale(1.1);
    transition: all 0.3s ease;
}
#title h2:hover{
    color: rgb(136, 15, 15);
    transform: scale(1.1);
    transition: all 0.3s ease;
}


#playerwrapper button:hover{
    color: rgb(136, 15, 15);
    transform: scale(1.2);
    transition: all 0.3s ease;
}




