html,body{
    width: 100%;
    height: 100%;
     background-color:#C7B7A3 ;
    
}

#main{
    
     display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color:#C7B7A3 ;
}





#albumcover img{
   
    width: 360px;
    height: 370px;
    object-fit: cover;
   margin-left: 550px;
   margin-top: -335px;
    border-radius: 8px;

}

#title{
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #050505;
    margin-top: -300px;
    margin-left: 250px;
    font-size: 20px;
}

h1{
    font-size: 15px;
  margin-top: -12px;
  margin-left: 0.5px;
     letter-spacing: 1px;
     color: rgb(43, 41, 41);

    
}



#playerwrapper{
    width: 800px;
    height:300px;
    background-color: rgb(206, 29, 29);
    display: flex;
    gap: 35px;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   margin-left: 450px;
   margin-top: 300px;
}

#playerwrapper button{
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin-left: -700px;
}


