html,body{
    width: 100%;
    height: 100%;
     

     background-image: url('red.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
    
}

#main{
    
     display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color:#C7B7A3 ;
}





#albumcover img{
   
    width: 360px;
    height: 370px;
    object-fit: cover;
   margin-left: 550px;
   margin-top: -335px;
    border-radius: 8px;
    shadow

}

#title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #050505;
    margin-top: -300px;
    margin-left: 250px;
    font-size: 20px;
    letter-spacing: 1px;

}

h1{
    font-size: 15px;
  margin-top: -12px;
   margin-left: 0.2px;
     letter-spacing: 1px;
     color: rgb(55, 47, 47);
   

    
}



#playerwrapper{
    width: 800px;
    height:300px;
    background-color: rgb(162, 19, 19);
    display: flex;
    gap: 35px;
   
    flex-direction: column;
    justify-content: center;
   align-items: center;
   margin-left: 450px;
   margin-top: 300px;
   border-radius: 10px;

}

#playerwrapper button{
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin-left: -700px;
}
  

#control button{
    background-color: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
   
      
  margin-top: 25%;
  
 margin-left:80px;
   
   
    color: #050505;
}

#control button:hover{
    color: rgb(136, 15, 15);
    transform: scale(1.2);
    transition: all 0.3s ease;
}

#control{

position: absolute;
bottom:250px;
right:450px;

    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


#albumcover img{
    transition: transform 0.5s ease;
    box-shadow: 0.25s ease;
   
}


#albumcover img:hover{
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 20px 100px rgba(0, 0, 0, 0.5);

}

#title h1:hover{
    color: rgb(136, 15, 15);
    transform: scale(1.1);
    transition: all 0.3s ease;
}
#title h2:hover{
    color: rgb(136, 15, 15);
    transform: scale(1.1);
    transition: all 0.3s ease;
}


#playerwrapper button:hover{
    color: rgb(136, 15, 15);
    transform: scale(1.2);
    transition: all 0.3s ease;
}

#infocard {
  background: white;
  padding: 24px 28px;
  border-radius: 20px;
  width: 100%;
  box-shadow: 0 20px 40px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 380px;
  position: relative;
  height: auto;
}

#song-info h2 {
  font-size: 12px;
  letter-spacing: 2px;
  color: #777;
  margin: 0;
}

#song-info h1 {
  font-size: 22px;
  margin: 4px 0 0;
}

#progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
 margin-top: 30px;
  margin-left: 670px;
}

.time {
  font-size: 11px;
  color: #999;
  width: 30px;
}

#progress-track {
  width: 220px;
  height: 3px;
  background: #e5e5e5;
  border-radius: 10px;

}

#progress-bar {
  height: 100%;
  width: 55%;
  background: #111;
  border-radius: 10px;
  transition: width 0.3s ease;
  cursor: pointer;

}

#control {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#control button {
  background: none;
  border: none;
  font-size: 35px;
  cursor: pointer;
}

#control .play {
  font-size: 22px;
}



