body{
    
    width: 100%;
    height: 100%;
     

    background-image: url('red.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}




.player{
    background: #740606;
    width: 800px;
    height: 300px;
    display: flex;
    padding: 20px;
border-radius: 10px;
display: flex;
flex-direction: row;
align-items: center;
gap: 30px;

}


.album-wrapper img{
    width: 370px;
    height: 380px;
    object-fit: cover;
   border-radius: 10px;
}




.controls{
   
  flex: 1;
  justify-content: center;
 
    display: flex;
    flex-direction: column;
   gap: 20px;
   width: 100%;
}


.track-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: rgb(8, 4, 4);
    font-family: 'Arial', sans-serif;

     
}


.buttons{
    display: flex;
    justify-content: center;
   
  
  padding:30px;
 gap:90px;
 
}


.progress{
   display: flex;
   gap: 10px;
    border-radius: 5px;
    align-items: center;
  
}

.bar{
    flex: 1;
    height: 6px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

.fill{
    width: 0%;
    height: 100%;
    background: #fff;
}



.buttons button{
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 35px;
    cursor: pointer;
}


.buttons button:hover{
    color: rgb(104, 4, 4);
    transform: scale(1.25);
    transition: transform 0.3s ease;
}





.album-wrapper img{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor:pointer;
}

.album-wrapper img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 50px 70px rgba(0, 0, 0, 0.5);
   
}

.track-info h3:hover,.track-info p:hover{
    color: rgb(98, 50, 50);
    transform: scale(1.1);
}

.album-wrapper img:active{
    transform: scale(0.95);
    transition: transform 0.1s ease;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.5);
   
}

.track-info h3,.track-info p{
    transition:color 0.3s ease;
    cursor:pointer;

}

.track-info h3:hover,.track-info p:hover{
    color: rgb(204, 204, 204);
}
